[package]
name = "maa-framework"
version = "1.0.1"
edition = "2021"
authors = ["MaaFramework Contributors"]
description = "Rust bindings for MaaFramework"
license = "LGPL-3.0"
homepage = "https://github.com/MaaXYZ/MaaFramework"
repository = "https://github.com/MaaXYZ/MaaFramework"
keywords = ["maa", "automation", "framework", "binding"]
categories = ["api-bindings", "development-tools"]
exclude = ["MaaFramework", "install", "download_plugins", ".github", ".vscode"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "2.0"
bitflags = "2.4"
image = { version = "0.25", optional = true }
libloading = { version = "0.8", optional = true }
once_cell = { version = "1.19", optional = true }

[build-dependencies]
bindgen = "0.72.1"
syn = { version = "2.0", features = ["full", "extra-traits"] }
quote = "1.0"

[features]
default = ["toolkit", "adb", "win32", "dbg", "custom", "internal"]
static = []
dynamic = ["dep:libloading", "dep:once_cell"]
toolkit = []
adb = []
win32 = []
dbg = []
custom = [
    "custom_recognizer",
    "custom_controller",
    "custom_action",
    "sync_context",
]
custom_recognizer = ["sync_context"]
custom_controller = ["sync_context"]
custom_action = ["sync_context"]
sync_context = []
internal = []
image = ["dep:image"]

[dev-dependencies]
ctor = "0.6"
